<% provide(:title, "Log in") %>


<div class="row" align="center">
  <div class="col-md-6 col-md-offset-8">
  	<% if user_signed_in? %>
  		<h1> Sell Guns </h1>
  		<a href="/shop/main_Page.html">Main Page</a>
   	    <a href="/shop/restock.html">restock guns</a>
	<% else %>
    	<h1 align="center">Welcome Customer</h1>
    <% end %>
  </div>
</div>